@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authService
@model B_Rock.Models.About.GetAllDevidedInGroup
<div class="backgroundImageGroup"></div>
<h2>Information Orchestra</h2>
<p>Our orchestra is a unity. Each musician brings something to our identity, together with their instrument. That identity is also based on a shared artistic vision and management.</p>
<p>Take a look at our musicians, ordered by instrument.</p>
<h3>Musicians</h3>

@if ((await authService.AuthorizeAsync(User, Model.artistsInGroups, "AdminOnly")).Succeeded)
{
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" asp-action="AddArtist" asp-controller="About">New Artist</a>
    </div>
}


@for (int i = 0; i < Model.artistsInGroups.Count; i++)
{
    <p class="main_titel_artiest">@Model.artistsInGroups[i][0].Instrument.Name</p>
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var item in Model.artistsInGroups[i])
        {
            <div class="card mb-3" style="width: 300px; margin: 25px; min-height: 380px;">
                <div class="row g-0">
                    @if (item.UniqueURL != null)
                    {
                        <div class="col-md-4 coverUp" style="background-image: url('/img/Artiesten/@item.UniqueURL'); height: 250px;"></div>
                    }
                    else
                    {
                        <div class="col-md-4 coverUp" style="background-image: url('/img/GeneralArtist.jpg'); height: 250px;"></div>
                    }

                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">@item.FirstName @item.LastName</h5>
                            @if (item.Role != null)
                            {
                                <p class="card-text">@item.Role</p>
                            }
                            @if ((await authService.AuthorizeAsync(User, item, "AdminOnly")).Succeeded)
                            {
                                <div class="d-flex justify-content-around align-self-end">
                                    <a class="btn btn-primary" asp-action="EditArtist" asp-controller="About" asp-route-id="@item.Id">Edit</a>
                                    <form class="d-inline" asp-action="Index" asp-controller="About" asp-route-id="@item.Id">
                                        <input type="submit" value="Remove" class="btn btn-danger" />
                                    </form>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}