@model IEnumerable<B_Rock.Data.Concert>

<div class="d-flex flex-wrap justify-content-center">
    @foreach (B_Rock.Data.Concert concert in Model)
    {
        <div class="card m-2 text-center" style="width: 18rem;">
            <div class="cover" style="background-image: url('/img/Concerts/@concert.UniqueURL'); height:190px;"></div>
            <div class="card-body">
                <h5 class="card-title">@concert.Title</h5>
                <p class="card-text">@concert.PerformedBy</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@concert.DateAndTime.ToLongDateString() at @concert.DateAndTime.ToShortTimeString()</li>
                <li class="list-group-item">@concert.Location</li>
                <li class="list-group-item">@concert.City, @concert.Country</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    }
</div>