@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authService
@model IEnumerable<B_Rock.Data.Concert>

@if ((await authService.AuthorizeAsync(User, Model, "AdminOnly")).Succeeded)
{
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" asp-action="AddConcert" asp-controller="Calendar">New Concert</a>
    </div>
}
<div class="d-flex flex-wrap justify-content-center">
    @foreach (B_Rock.Data.Concert concert in Model)
    {
        <div class="card m-2 text-center" style="width: 18rem;">
            <div class="cover" style="background-image: url('/img/Concerts/@concert.UniqueURL'); height:190px;"></div>
            <div class="card-body">
                <h5 class="card-title">@concert.Title</h5>
                <p class="card-text">@concert.PerformedBy</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@concert.DateAndTime.ToLongDateString() at @concert.DateAndTime.ToShortTimeString()</li>
                <li class="list-group-item">@concert.Location</li>
                <li class="list-group-item">@concert.City, @concert.Country</li>
            </ul>
            <div class="card-body">
                <p>
                    @if (!(await authService.AuthorizeAsync(User, Model, "AdminOnly")).Succeeded)
                    {
                        <a asp-action="DetailConcert" asp-controller="Calendar" asp-route-id="@concert.Id" class="card-link btn btn-success">Add to card</a>
                    }

                    <a href="@concert.ExternLink" class="card-link btn btn-link">Concert link</a>
                </p>
                @if ((await authService.AuthorizeAsync(User, Model, "AdminOnly")).Succeeded)
                {
                    <a class="btn btn-primary" asp-action="EditConcert" asp-controller="Calendar" asp-route-id="@concert.Id">Edit</a>
                    <form class="d-inline" asp-action="Index" asp-controller="Calendar" asp-route-id="@concert.Id">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                }
            </div>
        </div>
    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}